{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="col-12 mb-5">
    <a class="btn btn-secondary" href="{% url 'blog:article_create' %}">Add article</a>
</div>

{% for object in object_list %}

<div class="card mb-3" style="max-height: 600px;">
    <div class="row g-0">
        <div class="card-header">
            <p><h4 class="card-title">{{ object.title }}</h4></p>
        </div>
        {% if object.image %}
        <div class="col-md-4">
            <img src="{{ object.image|mediapath }}" class="img-fluid rounded-start" alt="Article image">
        </div>
        {% endif %}
        <div class="col-md-8">
            <div class="card-body">
                <small class="text-body-secondary">
                    <p>{{ object.created_at }}</p>
                </small>
                <p class="card-text">{{ object.content|truncatechars:200 }}</p>

            </div>
        </div>
        <div class="card-footer">
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                    <a class="btn btn-outline-secondary" href="{{ object.get_absolute_url }}">View</a>
                    <a class="btn btn-outline-secondary" href="{% url 'blog:article_update' object.pk %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'blog:article_delete' object.pk %}">Delete</a>
                </div>
                <small class="text-body-secondary">{{ object.views_count }} views</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}