{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container py-4">

    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <div class="container-fluid py-5">
            <div class="text-body-secondary">
                <p>{{ object.created_at }}</p>
            </div>
            <p><small class="text-body-secondary">
                {{ object.views_count }} views
            </small></p>
            <img src="{{ object.image|mediapath }}" class="p-4 img-fluid"
                 width="650px" height="auto" alt="Responsive image">
<!--            <h2 class="display-6">${{ object.price }}</h2>-->
            <p class="col-md-8 fs-4">{{ object.content }}</p>
            <a class="btn btn-secondary" href="{% url 'blog:articles' %}">Back</a>
        </div>
    </div>

</div>
{% endblock %}