{% extends 'catalog/base.html' %}

{% block content %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    {% for object in object_list %}

    <div class="col">
        <div class="card shadow-sm">
            <p class="text-center">
                <img src="/static/images/{{ object.name }}.jpeg" class="p-3 img-fluid" width="225px" height="auto"
                     alt="Responsive image">
            </p>
            <div class="card-body">
                <h2 class="card-title pricing-card-title">{{ object.name }}</h2>
                <p class="card-text">{{ object.description }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'catalog:category' object.pk %}" type="button"
                           class="btn btn-md btn-outline-secondary">View</a>
                        <!--                    <button type="button" class="btn btn-md btn-outline-secondary">Edit</button>-->
                        <!--                    <button type="button" class="btn btn-md btn-outline-danger">Delete</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}