{% extends 'catalog/base.html' %}
{% block content %}
    <form method="post" class="row" enctype="multipart/form-data">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {% if object %}
                        Edit article
                    {% else %}
                        Add article
                    {% endif %}
                </div>
                <div class="card-body">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">
                        {% if object %}
                            Save
                        {% else %}
                            Add
                        {% endif %}
                    </button>
                    <a class="btn btn-outline-warning" onclick="history.back();">Cancel</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
