{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container py-4">
    <div class="h-100 p-5 bg-body-tertiary border rounded-3">
        <div class="container-fluid py-5">
            <img src="{{ object.image|mediapath }}" class="p-4 img-fluid"
                 width="400px" height="auto" alt="Responsive image">

            <h2 class="display-6">${{ object.price }}</h2>
            <p class="col-md-10 fs-4 mb-5">{{ object.description|linebreaksbr }}</p>

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
<!--                    <a class="btn btn-outline-secondary" onclick="history.back();">Back</a>-->
                    <a class="btn btn-outline-secondary" href="{% url 'catalog:product_update' object.pk %}">Edit</a>
                    <a class="btn btn-outline-danger" href="{% url 'catalog:product_delete' object.pk %}">Delete</a>
                </div>
                <small class="text-body-secondary">Version of product {{ object.views_count }}</small>
            </div>
        </div>
    </div>
</div>
{% endblock %}